---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.hero-image {
				width: 80%;
				display: block;     /* 將圖片轉換為區塊元素 */
				margin-left: auto;  /* 左右外邊距自動自動平分 */
				margin-right: auto;
				margin-bottom: 1em;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 0.1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">⛪安呢遊波蘭</h1>
			<img src="https://img.anneiusekai.com/poland/general/logo.jpg" alt="logo" class="hero-image" />
			<p>
				你好！我ê名號做安--ê，一个自動化工程師，嘛是一位予公司開錢（…？）請出國𨑨迌的旅行者，遮就是我ê blog，用台灣話介紹波蘭！
			</p>
			<p>
				佇遮我會分享我這幾逝去到波蘭旅行ê經驗，包含著我去過ê城市、景點、食物佮一寡文化體驗。
			</p>
			<p>下跤是我兩逝旅行的時間：</p>
			<ul>
				<li>2025年2月 - 3月</li>
				<li>2025年6月</li>
			</ul>
			<p>
				毋知影波蘭會改變足濟袂？文章內底寫ê攏是我彼時陣ê經驗，若準有啥物無仝的所在，請以現時的狀況為主，嘛真歡迎你來佮我分享！
			</p>
			<p>
				若是你有啥物指教建議，嘛歡迎你寄批 <a href="mailto:anneiusekai@gmail.com">anneiusekai@gmail.com</a> 來佮我聯絡！
			</p>
		</main>
		<Footer />
	</body>
</html>
